#  4.10: Coding Etiquette & Excel Reporting - Part 1

## Table of content:

### Task 1 - Import data and libraries
### Task 2 - Data Security
### Task 3 - Compare customer behavior in different geographic areas
### Step 4 - Create dataframe excluding low-activity customers
### Export data

# Task 1 

Import the data set you exported in Exercise 4.9 into a new Jupyter notebook. This should be the merged version of your data that contains the new customers column.

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### Import last data set

In [2]:
path = r'C:\Users\facun\Desktop\Data Analysis\CF\PYTHON\Instacart Basket Analysis'

In [3]:
df_combined_file = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'combined_file.pkl'))

# Task 2

Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

### Call up data frame

In [4]:
df_combined_file.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,First_Name,Last_Name,Gender,State,Age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

### Check Columns titles

In [5]:
df_combined_file.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spending_flag', 'median_days_since_last_order', 'order_frequency_flag',
       'First_Name', 'Last_Name', 'Gender', 'State', 'Age', 'date_joined',
       'n_dependants', 'fam_status', 'income', '_merge'],
      dtype='object')

### Idenifying PII (Personally Identifiable Information) and taking actions

Taking in consideration the Data Privacy Regulations, I indentified the columns **Fist_Name** and **Last_Name** as PII data.

As we don't need this information for our analysis,I decided to remove this columns

### Dropping columns "First_Name" and " Last_Name"

In [6]:
columns_to_drop = ['First_Name', 'Last_Name']

In [7]:
df_combined_file = df_combined_file.drop(columns=columns_to_drop)

#### Confirm that the changes were done succesfully

In [8]:
df_combined_file.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,median_days_since_last_order,order_frequency_flag,Gender,State,Age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both

In [9]:
df_combined_file.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spending_flag', 'median_days_since_last_order', 'order_frequency_flag',
       'Gender', 'State', 'Age', 'date_joined', 'n_dependants', 'fam_status',
       'income', '_merge'],
      dtype='object')

#### Removing all columns that we won't need for this excercise to reduce the size of the dataframe

In [10]:
df_combined_file = df_combined_file.drop(columns='_merge')

In [11]:
df_combined_file.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spending_flag', 'median_days_since_last_order', 'order_frequency_flag',
       'Gender', 'State', 'Age', 'date_joined', 'n_dependants', 'fam_status',
       'income'],
      dtype='object')

# Task 3

The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.

    a) Use the region information in this Wikipedia article to create your column (you only need to create regions, not divisions).
    b) Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

## a) Create region columns

### Segmenting States by Region

In [12]:
Northeast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']
Midwest = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
South = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']
West = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

### Creating Region columns and assigning states in

In [13]:
df_combined_file.loc[df_combined_file['State'].isin(Northeast), 'Region'] = 'Northeast'
df_combined_file.loc[df_combined_file['State'].isin(Midwest), 'Region'] = 'Midwest'
df_combined_file.loc[df_combined_file['State'].isin(South), 'Region'] = 'South'
df_combined_file.loc[df_combined_file['State'].isin(West), 'Region'] = 'West'

### Checking outcomes

#### Checking frequency of Region Columns

In [14]:
df_combined_file['Region'].value_counts(dropna = False)

South        10792300
West          8293217
Midwest       7597585
Northeast     5722939
Name: Region, dtype: int64

#### Checking size of DF

In [15]:
df_combined_file.shape

(32406041, 30)

#### Checking columns

In [16]:
df_combined_file.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spending_flag', 'median_days_since_last_order', 'order_frequency_flag',
       'Gender', 'State', 'Age', 'date_joined', 'n_dependants', 'fam_status',
       'income', 'Region'],
      dtype='object')

## b) Determine spending habits between regions

### Create crosstab of regions and spending flag columns

In [17]:
crosstab = pd.crosstab(df_combined_file['Region'], df_combined_file['spending_flag'], dropna = False)

### Outcome

In [18]:
crosstab

spending_flag  High_spender  Low_spender
Region
Midwest               58535      7539050
Northeast             38808      5684131
South                 75206     10717094
West                  60297      8232920

In [19]:
# Copy to clipboard to paste into Excel

crosstab.to_clipboard()

- In every Region, the number of **lower spenders** are higher than the **higher spenders** 
- in both segments, the ranking of the largest number and the fewest number of consumers is positioned in the same way and represents almost the same proportion:

    1. **South Region** 32.30% High_spender and 33.31%  Low_spender
    
    2. **West Region** 25.90%  High_spender and 25.59% Low_spender
    
    3. **Midwest Region** 25.14% High_spender and 23.43% Low_spender
    
    4. **Norteast Region** 16.67% High_spender and 17.67% Low_spender

# Task 4

The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

### Create flag for customers with less than 5 orders

In [20]:
df_combined_file.loc[df_combined_file['max_order'] < 5, 'customer_activity'] = 'low activity customer'

### Create flag for customers with 5 orders or over

In [21]:
df_combined_file.loc[df_combined_file['max_order'] >= 5, 'customer_activity'] = 'high activity customer'

### Check frequency of the "activity flag" column

In [22]:
df_combined_file['customer_activity'].value_counts(dropna = False)

high activity customer    30965686
low activity customer      1440355
Name: customer_activity, dtype: int64

### Assign Low activity customers into a new dataframe

In [23]:
low_activity_customers = df_combined_file[df_combined_file['customer_activity'] == 'low activity customer']

### Check outcome

In [24]:
low_activity_customers.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,Gender,State,Age,date_joined,n_dependants,fam_status,income,Region,customer_activity
1510,520620,120,1,3,11,NaN,196,2,0,Soda,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low activity customer
1511,3273029,120,3,2,8,19.0,196,2,1,Soda,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low activity customer
1512,520620,120,1,3,11,NaN,46149,1,0,Zero Calorie Cola,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low activity customer
1513,3273029,120,3,2,8,19.0,46149,1,1,Zero Calorie Cola,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low activity customer
1514,520620,120,1,3,11,NaN,26348,3,0,Mixed Fruit Fruit Snacks,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low activity customer

### Export and save low activity dataframe

In [25]:
low_activity_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'low_activity_customers.pkl'))

### Assign high activity customers into new dataframe

In [26]:
high_activity_customers = df_combined_file[df_combined_file['customer_activity'] == 'high activity customer']

### Check outcome

In [27]:
high_activity_customers.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,Gender,State,Age,date_joined,n_dependants,fam_status,income,Region,customer_activity
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer

### Export and save high activity dataframe

In [28]:
high_activity_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'high_activity_customers.pkl'))